/*****BASE******/

body {
   font-family: 'Raleway', sans-serif;
   font-size: 24px;
   color: #095256;
}

/*****GRID*****/

.full-width {
   width: 1400px;
   overflow: auto;
   margin: 0 auto;
}

.half-width {
   width: 700px;
   float: left;
}

.third-width {
   width: 466px;
   float: left;
}

/*****HEADER*****/

header {
   text-align: center;
   background-image: url('../img/hero-image.png');
   background-size: cover;
   background-position: center;
   height: 800px;
}

header h1 {
   font-family: 'Libre Baskerville', serif;
   font-size: 60px;
   color: #bdbf09;
   padding-top: 300px;
}

header h2 {
   font-size: 48px;
   font-weight: normal;
}

/*****WORK*****/

#work {
   text-align: center;
   height: 650px;
   padding-top: 25px;
}

#work h3 {
   font-family: 'Libre Baskerville', serif;
   font-size: 36px;
}

#work .third-width {
   padding-top: 50px;
}

#work #rogue {
   width: 350px;
   outline: 1px solid #626262;
}

#work #jubilee {
   width: 350px;
   outline: 1px solid #626262;
}

#work #recipe {
   width: 350px;
   outline: 1px solid #626262;
}

/*****ABOUT*****/

#about {
   background-color: #087e8b;
   height: 600px;
   padding-top: 25px;
   color: #ffffff;
}

#about h3 {
   font-family: 'Libre Baskerville', serif;
   font-size: 36px;
   color: #ffffff;
   text-align: center;
   padding-bottom: 30px;
}

#about h4 {
   padding-top: 0;
}

#self-image {
   width: 600px;
   padding-top: 20px;
}

/*****CONTACT*****/

#contact {
   height: 400px;
   background-color:  #095156;
   padding-top: 25px;
   text-align: center;
   color: #ffffff;
   overflow: auto;
}

#contact h3 {
   font-family: 'Libre Baskerville', serif;
   font-size: 36px;
   padding-bottom: 30px;
}

#contact img {
   vertical-align: middle;
   padding-right: 10px;
}

#contact a {
   text-decoration: none;
   color: #ffffff;
}

#contact ul {
   list-style: none;
}

#contact ul li {
   display: inline-block;
   padding-right: 30px;
}

/*****COPYRIGHT*****/

#copyright {
   font-size: 15px;
   padding-top: 40px;
   padding-bottom: 20px;
}
